r2dtwo
dnt
*.o
*.sw?
tags
build*
.cache
compile_commands.json
**/__pycache__/
**.pdf

#auto generated
doc/protocols.md
dnt_testbed/result_*.txt
dnt_testbed/sweep_results.txt
dnt_testbed/emulation_points.csv
